{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">City</th>
            <th class="active text-center">Position</th>
            <th class="active text-center">Company</th>
        </tr>

        {% for job in jobs %}
            <tr>
                <td>{{ job.location }}</td>
                <td>
                    <a href="{{ path('job.show', {id: job.id}) }}">
                        {{ job.position }}
                    </a>
                </td>
                <td>{{ job.company }}</td>
            </tr>
        {% endfor %}

        {% for category in categories %}
            <!--<h4>{{ category.name }}</h4>-->
            <h4>
                <a href="{{ path('category.show', {slug: category.slug}) }}">{{ category.name }}</a>
            </h4>

            {% for category in categories %}
                {% include 'job/table.html.twig' with {
                    'jobs': category.activeJobs|slice(0, max_jobs_on_homepage)
                } only %}
            {% endfor %}
        
            <!--
            <table class="table text-center">
                <thead>
                <tr>
                    <th class="active text-center">City</th>
                    <th class="active text-center">Position</th>
                    <th class="active text-center">Company</th>
                </tr>
                </thead>

                {# comentario: slice: limit the job list to 10 items #}
                {# can define custom parameters in the config/services.yaml #}
                <tbody>
                {% for job in category.activeJobs|slice(0, max_jobs_on_homepage) %}
                    <tr>
                        <td>{{ job.location }}</td>
                        <td>
                            <a href="{{ path('job.show', {id: job.id}) }}">
                                {{ job.position }}
                            </a>
                        </td>
                        <td>{{ job.company }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        -->
        {% endfor %}
    </table>
{% endblock %}